:root {
    --primary-text: #996600;
	--background-colour: beige;
	--accent-colour-1: #666600;
	--accent-colour-2: #cc6633;
    --main-padding: 20px;
    --font-stack: 'Segoe UI', Tahoma, sans-serif;
}

#header h1 {
			padding: 0 0 0 0;
		
		}

		
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--primary-colour); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 5px; /* Some padding */
  border-radius: 50px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  transition: opacity 0.3s;
  min-width: 45px;
}

#myBtn:hover {
  background-color: var(--accent-colour-1); 
}